<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <base href="/"/>
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Virt</title>
    <!-- Bootstrap -->
    <link href="/vendors/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="/vendors/bootstrap/dist/css/bootstrap-theme.min.css" rel="stylesheet">
    <link href="/assets/css/style.css" rel="stylesheet">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body ng-app="virtApp" ng-controller="mainController as dashboard">
{{dashboard.computers}}<br>
<table class="table table-striped">
    <tr>
        <th>Machine IP</th>
        <th>VMname</th>
        <th>IP</th>
        <th>Mac Address</th>
        <th>State</th>
        <th>Status</th>
        <th>VM Disk Size</th>
        <th>VM Available Size</th>
        <th>Last login</th>
        <th>CPU</th>
        <th>VM Last change</th>
        <th>Actions</th>
    </tr>
    <tr ng-repeat="computer in dashboard.computers" ng-init="computerIndex = $index">
        <td>{{ computer.ip }}</td>
        <td>
            <select name="virtuals" ng-model="virtIndex" ng-change="dashboard.updateStatus(computerIndex,virtIndex)">
                <option value="">Please select --</option>
                <option ng-repeat="virt in computer.virts" ng-value="{{$index}}">{{virt.name}}</option>
            </select>
        </td>
        <td>
            {{ computer.virts[computer.current_machine_index].status }}
        </td>
    </tr>

</table>










<!-- libs -->
<script src="/vendors/jquery/dist/jquery.min.js"></script>
<script src="/vendors/bootstrap/dist/js/bootstrap.min.js"></script>
<!-- angular modules -->
<script src="/vendors/angular/angular.min.js"></script>
<script src="/vendors/angular-route/angular-route.min.js"></script>
<!-- modules -->
<script src="/app/app.js"></script>
<script src="/app/app.routes.js"></script>
<script src="/app/controllers/mainController.js"></script>
<script src="/app/services/HttpServices.js"></script>
</body>
</html>