<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body ng-app="virtApp" ng-controller="mainController as dashboard">
{{dashboard.computers}}<br>
<table class="table table-striped">
    <tr>
        <th>Machine IP</th>
        <th>VMname</th>
        <th>IP</th>
        <th>Mac Address</th>
        <th>State</th>
        <th>Status</th>
        <th>VM Disk Size</th>
        <th>VM Available Size</th>
        <th>Last login</th>
        <th>CPU</th>
        <th>VM Last change</th>
        <th>Actions</th>
    </tr>
    <tr ng-repeat="computer in dashboard.computers" ng-init="computerIndex = $index">
        <td>{{ computer.ip }}</td>
        <td>
            <select name="virtuals" ng-model="virtIndex">
                <option value="">Please select --</option>
                <option ng-repeat="virt in computer.virts">{{virt.name}}</option>
            </select>
        </td>
    </tr>

</table>










<!-- libs -->
<script src="/vendors/jquery/dist/jquery.min.js"></script>
<script src="/vendors/bootstrap/dist/js/bootstrap.min.js"></script>
<!-- angular modules -->
<script src="/vendors/angular/angular.min.js"></script>
<script src="/vendors/angular-route/angular-route.min.js"></script>
<!-- modules -->
<script src="/app/app.js"></script>
<script src="/app/app.routes.js"></script>
<script src="/app/controllers/mainController.js"></script>
<script src="/app/services/HttpServices.js"></script>
</body>
</html>