<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body ng-app="virtApp" ng-controller="mainController as main">
{{main.computers}}

<!-- libs -->
<script src="/vendors/jquery/dist/jquery.min.js"></script>
<script src="/vendors/bootstrap/dist/js/bootstrap.min.js"></script>
<!-- angular modules -->
<script src="/vendors/angular/angular.min.js"></script>
<script src="/vendors/angular-route/angular-route.min.js"></script>
<!-- modules -->
<script src="/app/app.js"></script>
<script src="/app/app.routes.js"></script>
<script src="/app/controllers/mainController.js"></script>
<script src="/app/services/HttpServices.js"></script>
</body>
</html>